@(userLoginForm: play.data.Form[User])
<html>
<head>
<title>VolantoCRM</title>
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
</head>
<body>
	<header>
		<a href="@routes.Application.index" id="logo"><span>Volanto</span>CRM</a>
	</header>

	@helper.form(routes.Application.authenticate) {
	<h1>Sign in</h1>
	 @if(userLoginForm.hasGlobalErrors) {
	<p class="error">@userLoginForm.globalError.message</p>
	}
	<p>
       <input type="email" name="email" placeholder="Email" value="@userLoginForm("email").value">
   </p>
   <p>
       <input type="password" name="password" placeholder="Password">
   </p>
	<p>
		<button type="submit">Login</button>
	</p>
	}

</body>
</html>